.card{
    position: relative;

}

.cardContainer{
    width : 90% ;
    transition: transform .5s; /* Animation */

}
.cardContainer:hover{
    transform: scale(1.1); 
}

.bestSeller{
    position: absolute !important;
    top : 0px ;
    background-color: #CA0B00;
    left : 0px ;
    padding : 5px;
    font-weight: bold;
    color : #fff ;
}

.formControl{
    width: 100% ;
    display: flex; 
    justify-content: space-between;
}
.formControl span {
    width: fit-content;
}
.radioGroup{
    display: flex;
    padding : 10px ;

}